---
title: Exploratory Data Analysis (EDA)
sidebar_position: 1
draft: true
---

## Topic plan:
- Classical Statistics is almost exclusively focused on Statistical Inference:
  - Drawing conclusions about large populations based on small samples.
  - More specifically, what was deemed as Data Analytics was more of Hypothesis testing Statistics.
  - For example, (Tea Tasting)
- In 1961, John Tukey, a very famous Mathematician and Statistician wrote a paper Named "The future of Data Analysis"
  - He indicated that much of the statistics practice was focused on confirmatory data analysis.
  - Using sample data from large populations to make 
  - He proposed a new scientific displine called (Data Analysis) in which inferential statistics be only a part of the overall analysis work.
  - 

how can I work on summarizing the basics of statistics

- Where does descriptive analysis fit into this picture?

- What is Exploratory Analysis and how did it come about?
- In the beginning there was hypothesis testing (confirmatory analysis)
- John Tukey in 1961 found that there was a need for a kind of analysis where the hypotheses were suggested by the data
- That's when comes Exploratory analysis

a refresher on statistics


The basic goals are:
1. remove or correct erroneous data - data cleaning 
2. formulate initial hypotheses
3. choose suitable analysis methods

the process of coming up with a solution is not linear, it is an iterative, incremental process; you don't collect the data and then do 

Any suspicious data need to be investigated and corrected/
removed
• This can be quite tricky: is it an outlier or a key observation?

After EDA, it may be easier to formulate hypotheses, and to
make an informed choice of the analysis approach



## Data Preparation

## Data Wrangling and Cleaning

> "Happy families are all alike; every unhappy family is unhappy in its own way." - Leo Tolstoy

### Characteristics of tidy data:
- Every variable/attribute/feature forms a column
- Every observation forms a row
- Every type of observational unit forms a table

### Characteristics of untidy data:
$%@#$%^#@$%

- a dataset that's tidy for one analysis can be untidy for another analysis.
-

https://courses.helsinki.fi/sites/default/files/course-material/4509270/IntroDS-03.pdf

- Discover and visualize the data to gain insights

- Prepare the data and the project
- Data cleaning
  - Missing data
  - Anomalies
  - Duplicates
  - Outliers
- Using python to perform data cleaning


- Diagnostic analysis
  - Correlation vs Causality
  - Hypothesis Testing


Inferential Data Analysis?
Correlations?
- ![How I met your mother - Driving Gloves](https://i.gifer.com/MmOU.gif)


#### Assignments

- For a particular problem set by me, what kinds of questions would you ask? what data sources would you use?



Important articles about statistics

https://medium.com/@pralhad2481/5-steps-to-get-an-understanding-on-statistical-data-analysis-fdb925011fe6 (Links to an external site.)

https://towardsdatascience.com/fundamentals-of-statistics-for-data-scientists-and-data-analysts-69d93a05aae7 (Links to an external site.)

https://www.mastersindatascience.org/learning/statistics-data-science/

## Thoughts
- Should data cleaning be a separate module or Visualizations

In [19]:
import numpy as np
import pandas as pd

df = pd.read_table('./data/auto-mpg.data', sep="\t", header=None, names=('mpg', 'cylinders','displacement','horsepower','weight','acceleration','model_year','origin','car_name'))
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
NaN,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
NaN,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
NaN,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
NaN,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
NaN,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino
...,...,...,...,...,...,...,...,...,...
NaN,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,1.0,ford mustang gl
NaN,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,2.0,vw pickup
NaN,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,1.0,dodge rampage
NaN,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,1.0,ford ranger
NaN,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,1.0,chevy s-10

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 406 entries, nan to nan
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     406 non-null    float64
 2   displacement  406 non-null    float64
 3   horsepower    400 non-null    float64
 4   weight        406 non-null    float64
 5   acceleration  406 non-null    float64
 6   model_year    406 non-null    float64
 7   origin        406 non-null    float64
 8   car_name      406 non-null    object
dtypes: float64(8), object(1)
memory usage: 31.7+ KB

In [21]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,398.000000,406.000000,406.000000,400.000000,406.000000,406.000000,406.000000,406.000000
mean,23.514573,5.475369,194.040640,105.082500,2979.413793,15.519704,75.921182,1.568966
std,7.815984,1.712160,105.207362,38.768779,847.004328,2.803359,3.748737,0.797479
min,9.000000,3.000000,4.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.750000,2226.500000,13.700000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,95.000000,2822.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,293.250000,130.000000,3618.250000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000