---
title: Exploratory Data Analysis (EDA)
sidebar_position: 1
draft: true
---

## What is EDA?
- In the beginning there was hypothesis testing (confirmatory data analysis)
*Explain what that is here*
This is when you have a hypothesis or a theory about a population. You take 

- John Tukey in 1961 found that there was a need for a kind of analysis where the hypotheses were suggested by the data.
- Tukey introduced a new scientific discipline that was then coined as "Exploratory data analysis" as opposed to "confirmatory data analysis".

The basic **goals** are:
1. remove or correct erroneous data - data cleaning 
2. formulate initial hypotheses and draw on a few insights based on the initial investigations of the data.
3. choose suitable analysis methods

For that we need to 
LOOK AT THE DATA - SEE THE DATA

For that we need:
- Statistics
- Data Cleaning
- Data Visualizations

They'll all go hand in hand. Statistics will help you understand some insights about the data. That understanding and those insights will help us in data cleaning and I will show a few examples there. Also just looking at the Raw data may cause us to miss huge opportunities and insights in the data. The Raw data and the statistics by them selves can deceiving sometimes.
And Visualizing the data will help you in coming up with your initial hypothesis about the data and determine the appropriate analysis methods and models. Sometimes even, visualization will help you in data cleaning and data understanding as you'll see statistics can be deceiving sometimes.

After EDA, it may be easier to formulate hypotheses, and to
make an informed choice of the analysis approach
- choose between linear vs non-linear methods
– decide whether you can maybe visually see some patterns that a clustering algorithms would would be helpful for your analysis for example

**This is an iterative process**
Remember, the data analysis process is not linear, it is an iterative, incremental process; 
we don't collect data, then clean the data, then analyze the data. 
Instead this all happens in iterations; we collect the data, and do some initial analysis, based on which we clean the data, then do some more analysis, then maybe we then realize we don't have enough data for the analysis so we go back and collect some more and so on and so forth.

I say this because I want to emphasize that EDA is not a one-time thing. and because many of the topics we will cover in this module are topics that we'll keep coming back to again and again throughout the course, with more information. 


But before we do any of that, we need to start with a tidy tabular/Rectangular data. and that will be out topic for the next video.

## Tidy Data and Data structures

> "Happy families are all alike; every unhappy family is unhappy in its own way" - Leo Tolstoy

That's how Leo Tolstoy started his Anna Karenina Novel. So how does it relate to us here in data analysis?

Well it turns out, that we have some defined characteristics of what would be deemed as tidy data for example in Rectangular Data Structures: 
- Every variable/attribute/feature forms a column
- Every observation forms a row
- Every type of observational unit forms a table

But if we think about what could be considered an untidy table, there's too many possibilities

- you could have those merged rows that act as separators
- You could have tally rows
- You could have column headers that are actually a table description

All of these are issues we have to tidy up before we can start with our analysis.

But Data generally don't come in this structured state: text and images for example, they first need to be processed and manipulated so that it can be represented as a set of features in tabular structure.

Let's take an picture example, at the end of the day, pictures are just pixels. where every pixel has an attribute of RGB, for colored pictures, and maybe on and off for black and white pictures.

If we wanted to represent this image in rectangular data structure/a data frame: and Let's assume that 0 means white, 1 means red, we can have this table here. However would this fit the description as tidy data?

Well, no, rows and columns here basically a matrix, you'd want to convert that to table that has X, Y, and is_red as columns.

Table structured data is only one common forms of structured data; by no means we're saying it's only one.; what would be tidy for one analysis project may not be for another. For example, spatial data, which are used in mapping and location analytics.
Or graph and network data that are used to analyze relations between entities like social network relations.

so by no means we're saying that rectangular data structures are the only acceptable forms of structured data for analysis. Depending on your project, you'll want to choose the right form for your data.

What we've done here; converting this image or this raw source of information into a dataset is what's called data wrangling.
Converting this image to a dataset, parsing server log files to analyze web application traffic. In constructing the dataset, we also define the data types for each of the features. 

So looking at these 2 examples, you could see 2 different data types:
Numerical and Categorical

Let's talk about that in the next video.

## Data Types
There are 2 basic types of structured data:
- Numerical 
  - Continuous
  - Discrete
- Categorical
  - Ordinal
  - Nominal

<!-- *What to do here?*
- Temporal
  - Date of Birth; although we can break that down into a Ordinal data, for the years and month.
- Geographical
  - Positions: longitude and latitude, home address -->


Numerical values can be continuous, as it taking any value in an interval, like height, weight, and temperature; you can have 30.345 inches, 150.57 pounds, and 98.6 degrees Fahrenheit.
Or discrete; data that can only take integer values like number of children, number of cars, and number of pets. you can't have 1.5 children, 2.5 cars, or 1.5 pets.

and the other type of data is categorical: These are data that can only take specific set of values, representing possible categories.

For example, genders, and countries of athletes, rating scales on customer satisfaction surveys, letter grades of students in a class.
Categorical data are split into nominal data, theses are just labels, or ordinal data, where the order matters or carries a meaning. Letter Grades, A is better then B which is better than a C, a rating scale of 5 is better than one. However, the white color is not better then blue, that's ordinal data.

### Why do we care?
Why do we care about data types? Well, it's important to know what type of data you're dealing with, because different types of data require different types of analysis. You have to analyze continuous data differently than categorical data otherwise it would result in a wrong analysis.

Let's remember a few key terms of summary statistics, you may recall that we have 2 types of summary statistics:
- Central tendency measures: mean, median, mode
- and Dispersion measures: variance, standard deviation, range

For now, let's just focus on the central tendency measures, and let's look at the difference between mean and mode.

- Mean or the average: the sum of all the values divided by the number of values. 
- Mode: the most commonly occurring category or value in data set. - which only makes sense for categorical data.

So it's obvious that the mean is a summary statistic for continuous data, but the mode is a summary statistic for categorical data.
For a dataset of olympics athletes, you can get the mean of their ages, the mean of their heights, the mean of their weights, for example. It doesn't make sense to take the get the mean of their nationalities, of their sex. but you can get the mode of that.

Correctly computing Central Tendency measures becomes especially important when working on data cleaning and handling missing data as we'll talk about later.

Another example for why we care about data types is when we're talking about data visualization. Categorical data can be visualized using bar charts, pie charts, histograms, and so on. Continuous data can be visualized using line charts, scatter plots, and so on.

Also, when we're talking about data modeling and predictive analysis, we'll talk more about that later in the course, if you're trying to predict a continuous value like the price of a house, you'll use a regression model.
You'd use a logistical regression model if you're trying to predict predict whether a political candidate will win or lose an election, or a classification model if you're trying to predict whether a customer will buy a product or not.

![Linear Regression vs Logistic Regression](./assets/linear-vs-logistic-regression.png)

## Data Visualization

## Data Cleaning

What do we do in data cleaning, We start with a tidy data. and we examine this data: Any suspicious data need to be investigated and corrected or removed, That's the data cleaning process:
  - Removing Duplicate (or actually sometimes leaving those duplicate data in (depending on your problem space and project objectives and desired outcomes.))
  - Handling of Missing data
    - Do you remove those records altogether, do you substitute those missing data with some other value
      - what would that value be
  - Anomalies and Outliers
    - Are those outlier or a key observation?
    - Do we remove those records altogether.

is

## Data Correlations

https://courses.helsinki.fi/sites/default/files/course-material/4509270/IntroDS-03.pdf


- Diagnostic analysis
  - Correlation vs Causality
  - Hypothesis Testing


- Inferential Data Analysis?
  - Correlations? Causality?


statistics done poorly can lead us to some pretty silly conclusions
  - ![How I met your mother - Driving Gloves](https://i.gifer.com/MmOU.gif)



#### Assignments

- For a particular problem set by me, what kinds of questions would you ask? what data sources would you use?



Important articles about statistics

https://medium.com/@pralhad2481/5-steps-to-get-an-understanding-on-statistical-data-analysis-fdb925011fe6 (Links to an external site.)

https://towardsdatascience.com/fundamentals-of-statistics-for-data-scientists-and-data-analysts-69d93a05aae7 (Links to an external site.)

https://www.mastersindatascience.org/learning/statistics-data-science/

## Thoughts
- Should data cleaning be a separate module or Visualizations?

## Coding

In [1]:
import numpy as np
import pandas as pd

df = pd.read_table('./data/auto-mpg.data', sep="\t", header=None, names=('mpg', 'cylinders','displacement','horsepower','weight','acceleration','model_year','origin','car_name'))
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino
...,...,...,...,...,...,...,...,...,...
401,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,1.0,ford mustang gl
402,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,2.0,vw pickup
403,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,1.0,dodge rampage
404,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,1.0,ford ranger
405,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,1.0,chevy s-10

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     406 non-null    float64
 2   displacement  406 non-null    float64
 3   horsepower    400 non-null    float64
 4   weight        406 non-null    float64
 5   acceleration  406 non-null    float64
 6   model_year    406 non-null    float64
 7   origin        406 non-null    float64
 8   car_name      406 non-null    object
dtypes: float64(8), object(1)
memory usage: 28.7+ KB

In [3]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,398.000000,406.000000,406.000000,400.000000,406.000000,406.000000,406.000000,406.000000
mean,23.514573,5.475369,194.040640,105.082500,2979.413793,15.519704,75.921182,1.568966
std,7.815984,1.712160,105.207362,38.768779,847.004328,2.803359,3.748737,0.797479
min,9.000000,3.000000,4.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.750000,2226.500000,13.700000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,95.000000,2822.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,293.250000,130.000000,3618.250000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [4]:
df['origin'] = pd.Categorical(df.origin)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     406 non-null    float64
 2   displacement  406 non-null    float64
 3   horsepower    400 non-null    float64
 4   weight        406 non-null    float64
 5   acceleration  406 non-null    float64
 6   model_year    406 non-null    float64
 7   origin        406 non-null    category
 8   car_name      406 non-null    object
dtypes: category(1), float64(7), object(1)
memory usage: 26.0+ KB

In [6]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,406.000000,406.000000,400.000000,406.000000,406.000000,406.000000
mean,23.514573,5.475369,194.040640,105.082500,2979.413793,15.519704,75.921182
std,7.815984,1.712160,105.207362,38.768779,847.004328,2.803359,3.748737
min,9.000000,3.000000,4.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.750000,2226.500000,13.700000,73.000000
50%,23.000000,4.000000,148.500000,95.000000,2822.500000,15.500000,76.000000
75%,29.000000,8.000000,293.250000,130.000000,3618.250000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [7]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino
...,...,...,...,...,...,...,...,...,...
401,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,1.0,ford mustang gl
402,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,2.0,vw pickup
403,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,1.0,dodge rampage
404,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,1.0,ford ranger
405,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,1.0,chevy s-10

In [19]:
df['origin_spelled'] = df['origin'].astype(str).map({'1.0':'US', '2.0':'European', '3.0': 'Asian'})
df['origin'] = df['origin'].astype(int)

In [20]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,origin_spelled
0,18.0,8.0,307.0,130.0,3504.0,12.0,1970,1,chevrolet chevelle malibu,US
1,15.0,8.0,350.0,165.0,3693.0,11.5,1970,1,buick skylark 320,US
2,18.0,8.0,318.0,150.0,3436.0,11.0,1970,1,plymouth satellite,US
3,16.0,8.0,304.0,150.0,3433.0,12.0,1970,1,amc rebel sst,US
4,17.0,8.0,302.0,140.0,3449.0,10.5,1970,1,ford torino,US
...,...,...,...,...,...,...,...,...,...,...
401,27.0,4.0,140.0,86.0,2790.0,15.6,1982,1,ford mustang gl,US
402,44.0,4.0,97.0,52.0,2130.0,24.6,1982,2,vw pickup,European
403,32.0,4.0,135.0,84.0,2295.0,11.6,1982,1,dodge rampage,US
404,28.0,4.0,120.0,79.0,2625.0,18.6,1982,1,ford ranger,US
405,31.0,4.0,119.0,82.0,2720.0,19.4,1982,1,chevy s-10,US

In [21]:
df['model_year'] = df['model_year'].astype(int).map(lambda x: x+1900)

In [22]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,origin_spelled
0,18.0,8.0,307.0,130.0,3504.0,12.0,3870,1,chevrolet chevelle malibu,US
1,15.0,8.0,350.0,165.0,3693.0,11.5,3870,1,buick skylark 320,US
2,18.0,8.0,318.0,150.0,3436.0,11.0,3870,1,plymouth satellite,US
3,16.0,8.0,304.0,150.0,3433.0,12.0,3870,1,amc rebel sst,US
4,17.0,8.0,302.0,140.0,3449.0,10.5,3870,1,ford torino,US
...,...,...,...,...,...,...,...,...,...,...
401,27.0,4.0,140.0,86.0,2790.0,15.6,3882,1,ford mustang gl,US
402,44.0,4.0,97.0,52.0,2130.0,24.6,3882,2,vw pickup,European
403,32.0,4.0,135.0,84.0,2295.0,11.6,3882,1,dodge rampage,US
404,28.0,4.0,120.0,79.0,2625.0,18.6,3882,1,ford ranger,US
405,31.0,4.0,119.0,82.0,2720.0,19.4,3882,1,chevy s-10,US