---
sidebar_position: 4.1
title: Python Refresher
sidebar_label: Python
---

In [74]:
# checking python version
! python -V

Python 3.10.4

### *Numbers (Integers, Floats)*

In [75]:
# This is a comment

In [76]:
# multiplying 
5*2

10

In [77]:
# dividing
5/2

2.5

In [78]:
# dividing and returning only the whole part
5//2

2

In [79]:
# dividing and returning remainder after division
5%2

1

In [80]:
# making an exponential calculation
5**2

25

### Variables

- Can only be one word.
- Can use only letters, numbers, and the underscore (_) character.
- Canâ€™t begin with a number.
- Variables are case-sensitive (data, Data and DATA would be different variable names).

In [81]:
# defining variables
apple = 3
banana = 2
apple + banana

5

In [82]:
# calculating sum of 2 vars
apple + apple

6

In [83]:
# assigning value to a var
apple = apple + apple
apple

6

### Strings

In [84]:
# creating a simple string
'This is fun!'

'This is fun!'

In [85]:
# creating a simple string
"This is fun, isn't it!?"

"This is fun, isn't it!?"

In [86]:
# concatenanting 2 strings together
"This is fun, " + "isn't it!?"

"This is fun, isn't it!?"

### Print()

In [87]:
# printing a string
print("printed")

printed

In [88]:
# printing an integer
print(apple)

6

In [89]:
# using print with format
name = "Sam"
grade = 81
print("{} scored a grade of {} on the test.".format(name, grade))

Sam scored a grade of 81 on the test.

In [90]:
# using f-string with print statement
print(f"{name} scored a grade of {grade} on the test.")

Sam scored a grade of 81 on the test.

### Lists

In [91]:
# creating a list of integers
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [92]:
# creating a list of int and string
L = [1, 'two', 3, 4, 5]
L

[1, 'two', 3, 4, 5]

In [93]:
# accessing list items using index notation
L[0]

1

In [94]:
# assigning value to an item of the list
L[1] = 2
L

[1, 2, 3, 4, 5]

In [95]:
# concatenating lists together 
L + [6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### List slicing

In [96]:
# slicing a list
L3 = [1,2,3,4,5]
L3[0:3]

[1, 2, 3]

In [97]:
# selecting all items - starting for the position 3
L3[3:]

[4, 5]

In [98]:
# selecting the last element of the list
L3[-1]

5

In [99]:
# returning reversed list
L3[::-1]

[5, 4, 3, 2, 1]

### List comprehension

In [100]:
# creating a list
L = [-1,-2,-3,-4,-5]
L

[-1, -2, -3, -4, -5]

In [101]:
# creating a new list based on the list 'L'
L_dbl = [n*2 for n in L]
L_dbl

[-2, -4, -6, -8, -10]

In [102]:
# creating a new list based on the list 'L'
L_abs = [abs(num) for num in L]
L_abs

[1, 2, 3, 4, 5]

In [103]:
# creating a new list based on the list 'L_abs'
filter_L = [num for num in L_abs if num < 3]
filter_L

[1, 2]

### Tuples

In [104]:
# creating a tuple
tup = (1,2,3)
tup

(1, 2, 3)

In [105]:
# selecting elements of the list
tup[:2]

(1, 2)

In [106]:
# unpacking and assigning multiple values at once
num1, num2, num3 = (5,11,15)   
print(num2)

11

### Booleans
Booleans represent one of two values: `True` or `False`.

In [107]:
# TRUE boolean
True

True

In [108]:
# FALSE boolean
False

False

In [109]:
# using int() to turn the boolean into 1 
int(True)

1

In [110]:
# using int() to turn the boolean into 0
int(False)

0

In [111]:
# 'True and True' always return'True'
True and True

True

In [112]:
# 'True AND False' always returns 'False'
True and False

False

In [113]:
# 'True OR False' always returns 'True'
True or False

True

### Comparison Operators

In [114]:
# comparing values and returning a boolean
1 < 2

True

In [115]:
# comparing values and returning a boolean
1 > 2

False

In [116]:
# comparing values and returning a boolean
1 <= 2

True

In [117]:
# comparing values and returning a boolean
1 >= 2

False

In [118]:
# comparing values and returning a boolean
1 == 2

False

In [119]:
# comparing values and returning a boolean
1 == 1

True

In [120]:
# comparing values and returning a boolean
1 != 2

True

In [121]:
# comparing values and returning a boolean
(1 < 2) and (2 < 3)

True

In [122]:
# comparing values and returning a boolean
(1 > 2) or (2 < 3)

True

In [123]:
# comparing values and returning a boolean
"string" == "string"

True

In [124]:
# comparing values and returning a boolean
"string" == 'spring'

False

In [125]:
# comparing values and returning a boolean
"Bill" in ["Bill", "Sarah", "Karen"]

True

In [126]:
# comparing values and returning a boolean
"Ann" not in ["Bill", "Sarah", "Karen"]

True

### if, elif, else Statements

- `if` is a condition statement.
- `elif` is pythons way of saying "if the previous conditions were not true, then try this condition".
- `else` statement catches anything which isn't caught by the preceding conditions.

In [127]:
# using the 'if' statement
if 1:
    print("True")

True

In [128]:
# for any non-zero number it will return True
if -3.1415:
    print("negative Pi is True!")

negative Pi is True!

In [129]:
# creating another example of 'if' statements
user_email = "jeff@amazon.com"
password = "bezos"

if user_email == "jeff@amazon.com":
    if password == "bezos":
        print("Access granted.")

Access granted.

In [130]:
# creating an 'if' statement for value comparison
if 5>2: 
    print("True")

True


```
if <condition>:
    block of code
elif <condition)
    block of code

```

In [131]:
# creating an example of combinations of conditions
age = 25

if age < 10:
    print("Just a kid.")
elif age < 16:
    print("Can't drive yet!")
elif age > 21:
    print("You are an adult!")

You are an adult!

```
if <condition>:
    block of code
else:
    block of code
```

In [132]:
# creating an example of combinations of conditions
age = 25

if age < 10:
    print("Just a kid.")
elif age < 16:
    print("Can't drive yet!")
elif age < 21:
    print("No drinking for you!")
else:
    print("You're good to go!")

You're good to go!

## Functions

A function is a block of code which only runs when it is called.

In [133]:
# creating a simple function of print statements
def greeting():
    print("Hello")
    print("Hola")
    print("Ciao")

In [134]:
# calling the function
greeting()

Hello
Hola
Ciao

In [135]:
# creating a function that requires a parameter
def root_on(school):
    if school == "UC":
        print("Go Bearcats!")
    elif school == "OSU":
        print("Go Buckeyes!")
    else:
        print("Go team!")

In [136]:
# calling the function
root_on("UC")

Go Bearcats!

### Retuning a value

In [137]:
# returning a value within a function
def root_on2(school):
    if school == "UC":
        return "Go Bearcat!"
    if school == "OSU":
        return "Go Buckeyes!"
    return "Go team!"

In [138]:
# calling the fucntion
my_team = root_on2("UC")
print("You can do it! {}".format(my_team))

You can do it! Go Bearcat!

### Lambda function
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [139]:
# creating a 'lambda' fuction
aFunction = lambda x: x * x
print(aFunction(10))

100

## Try, Except, and Else Statements

In [152]:
# creating a fucntion
def divide(a,b):
    print("a: {} b: {}".format(a, b))
    try:
        result = a / b
    except (ZeroDivisionError) as err:
        print("Divide by zero:")
        print(err)
    except (TypeError) as err:
        print("Type error:")
        print(err)
    else:
        print(f"{a} divided by {b} is {result}")     # function strings in python
    finally:
        print("This will run no matter what")

In [153]:
# calling the fucntion and passing arguments
divide(6,2)

a: 6 b: 2
6 divided by 2 is 3.0
This will run no matter what

In [154]:
# calling the fucntion and passing arguments
divide(6, 'a')

a: 6 b: a
Type error:
unsupported operand type(s) for /: 'int' and 'str'
This will run no matter what

In [155]:
# calling the fucntion and passing arguments
divide(6,0)

a: 6 b: 0
Divide by zero:
division by zero
This will run no matter what

## for Loops

A for loop is used to iterate over a sequence of values.

In [156]:
# creating a sequence of numbers
range(10)

range(0, 10)

In [157]:
# applying the sequence to a list
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [158]:
# creating a 'for loop'
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [159]:
# creating a for loop for a specific range of values - range(start, stop)
for num in range(90,101):
    print(num)

90
91
92
93
94
95
96
97
98
99
100

In [160]:
# creating a for loop for a specific range of values - range(start, stop)
for item in range(0, 26, 5):
    print(item)

0
5
10
15
20
25

In [161]:
# creating a for loop for a range of values that goes in reverse/decending order
for value in range(10,0,-1):
    print(value)

10
9
8
7
6
5
4
3
2
1

In [162]:
# creating a more elaborated for looop 
my_list = [1, 11, 4, 44]

for thing in my_list:
    greeting()
    print("\n")

Hello
Hola
Ciao


Hello
Hola
Ciao


Hello
Hola
Ciao


Hello
Hola
Ciao

In [163]:
# creating a for loop to print values from a list
my_list = [1, 11, 4, 44]

for thing in my_list:
    print(thing)

1
11
4
44