---
title: Importing from Different Data Sources
sidebar_position: 2
draft: false
---

We can construct a `DataFrame` from a variety of data sources. The most common data sources are:
  * CSV files
  * Excel files
  * SQL databases
  * JSON files
  * HTML files

In this notes, we see some of those examples in action

## Importing Data from CSV

In [3]:
import pandas as pd
import numpy as np

In [4]:
url = "https://raw.github.com/pandas-dev/pandas/main/pandas/tests/io/data/csv/tips.csv"

tips = pd.read_csv(url)
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

The `.head()` function gets you the first 5 elements of the data frame to show what the data would look like.

You could also use the function `describe()` which return summary statistics about the dataset

In [5]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

### Downloading Dataset from Kaggle using `OpenDatasets`

In cases where you're trying to use datasets that are available on online sources like `Kaggle`. You can continue to use the URL directly, if the source makes one available. Or you could use a tool such as `opendatasets`.
`opendatasets` is a Python library for downloading datasets from online sources like `Kaggle` and `Google Drive` using a simple Python command.

The following examples show how you can (DOWNLOAD) the US Elections Dataset available via `Kaggle`. You will be asked to provide your username and authentication API key (that's not the same as your account password).

**To get your Kaggle API Key:**
![Where to get your Kaggle API Key](./assets/kaggle-profile.jpg)

In [8]:
import opendatasets as od
dataset_url = 'https://www.kaggle.com/tunguz/us-elections-dataset'
od.download(dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading us-elections-dataset.zip to ./us-elections-dataset

100%|██████████| 133k/133k [00:00<00:00, 1.49MB/s]

Once downloaded, you can Import the CSV file into a data frame.

In [4]:
## import CSv file from local folder into a dataframe
elections = pd.read_csv('./us-elections-dataset/1976-2020-president.csv')
elections.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

## Import Data from an API
To import data using an HTTP API in Python, you have multiple options for the HTTP client libraries. The one I choose and use here is `requests`. Here I will show you how you can use `requests` to query data from the US Census Data, and from the John Hopkins COVID APIs.

The most basic example is the following:
```python
import requests

x = requests.get('https://w3schools.com/python/demopage.htm')

print(x.text)
```

However, depending on the API provider, we may need to pass additional configurations and options in the request. We'll see that in the following examples

### US Census Data
The US Census Bureau provides machine-readable dataset via a developer API. 

> Developers could use the statistics available through this API to create apps that:
> 1. Show commuting patterns for every city in America.
> 2. Display the latest numbers on owners and renters in a neighborhood someone may want to live in.
> 3. Provide a local government a range of socioeconomic statistics on its population.

Here are [some of the datasets available that you can use](https://www.census.gov/data/developers/data-sets.html)

Each dataset provides technical documentation for the different variables you could get from that Particular API. Here's [an example](https://api.census.gov/data/2020/dec/pl/variables.html)


- [Working with US Census Data - PDF Guide](https://www.census.gov/content/dam/Census/library/publications/2020/acs/acs_api_handbook_2020_ch02.pdf)

To construct a request with `requests` we need to determine the URL we need to send the request to.

In [10]:
import requests

HOST = "https://api.census.gov/data"
year = "2022"
dataset = "cps/basic/apr"
base_url = "/".join([HOST, year, dataset]) # JOIN the variables with a `/` separator https://api.census.gov/data/2022/cps/basic/apr

# The dataset is huge and contains a lot of data, so we'll request a subset of the available variables.
dataset_variables = ["GEDIV","HRMIS","PENATVTY"] 

predicates = {}
predicates["get"] = ",".join(dataset_variables) # JOIN the variables with a `,` separator
predicates["for"] = "state:*"

response = requests.get(base_url, params=predicates)

census_data = pd.DataFrame.from_records(response.json()[1:], columns=response.json()[0])
print(census_data.head())

  GEDIV HRMIS PENATVTY state
0     8     8      303     4
1     8     8      303     4
2     8     8       57     4
3     8     8       57     4
4     7     2       57     5

This [link here](https://api.census.gov/data/2022/cps/basic/apr/variables.html) describes what those variables mean.

Also, you note that even the states are presented with some numerical values. to get the values of those state IDs, I'll send another request to another dataset

In [12]:
import requests

HOST = "https://api.census.gov/data"
year = "2017"
dataset = "acs/acs5"
base_url = "/".join([HOST, year, dataset]) # JOIN the variables with a `/` separator https://api.census.gov/data/2022/cps/basic/apr

dataset_variables = ["NAME"]
predicates = {}
predicates["get"] = ",".join(dataset_variables)
predicates["for"] = "state:*"

r = requests.get(base_url, params=predicates)
states = pd.DataFrame.from_records(r.json()[1:], columns=r.json()[0])
print(states.head())

          NAME state
0  Mississippi    28
1     Missouri    29
2      Montana    30
3     Nebraska    31
4       Nevada    32

You could subset the data recieved to find the State Numerical Code for the `Ohio`

In [13]:
# Find the state code with the name "Ohio"
print(states[states["NAME"] == "Ohio"])

    NAME state
16  Ohio    39

or you could just combine and merge the 2 data sets on the state ID, so we end up with a single dataset with all the information we need.

In [14]:
# Merge census_data and states
full_census_data = pd.merge(census_data, states, on="state")
full_census_data.head() # Print the first 5 rows

  GEDIV HRMIS PENATVTY state      NAME
0     7     6       57    40  Oklahoma
1     7     6       57    40  Oklahoma
2     7     6       57    40  Oklahoma
3     7     6       57    40  Oklahoma
4     7     3       57    40  Oklahoma

### John Hopkins Covid API

John Hopkins University | Cornoavirus Resources Center have been collecting and publishing data regarding COVID-19 since day one. 
You can learn more about that and [find official resources for how to use the data here](https://coronavirus.jhu.edu/about/how-to-use-our-data)

I believe someone is publishing those datasets by means of API through the RapidAPI platform. Whether it's an official resource or not, the goal of this exercise is to show you how to work with APIs in general.

You can see a very easy to understand documentation of [how to use the API here](https://rapidapi.com/axisbits-axisbits-default/api/covid-19-statistics/).

In [56]:
import requests

url = "https://covid-19-statistics.p.rapidapi.com/reports"

querystring = {"region_province":"Ohio","iso":"USA","region_name":"US","q":"US Ohio","date":"2020-04-16"}

headers = {
	"X-RapidAPI-Key": "b6d38dbbd1msh33a9b59e4f6ddefp148a30jsn8bb7487ef097",
	"X-RapidAPI-Host": "covid-19-statistics.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.json()["data"])

# save json result into a pandas dataframe
covid_data = pd.DataFrame(response.json()["data"])
covid_data.head()

[{'date': '2020-04-16', 'confirmed': 8414, 'deaths': 407, 'recovered': 0, 'confirmed_diff': 620, 'deaths_diff': 45, 'recovered_diff': 0, 'last_update': '2020-04-16 23:30:51', 'active': 8007, 'active_diff': 575, 'fatality_rate': 0.0484, 'region': {'iso': 'USA', 'name': 'US', 'province': 'Ohio', 'lat': '40.3888', 'long': '-82.7649', 'cities': [{'name': 'Adams', 'date': '2020-04-16', 'fips': 39001, 'lat': '38.84541072', 'long': '-83.4718964', 'confirmed': 3, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Allen', 'date': '2020-04-16', 'fips': 39003, 'lat': '40.77285242', 'long': '-84.10802343', 'confirmed': 57, 'deaths': 6, 'confirmed_diff': 6, 'deaths_diff': 2, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Ashland', 'date': '2020-04-16', 'fips': 39005, 'lat': '40.84772277', 'long': '-82.27280781', 'confirmed': 5, 'deaths': 0, 'confirmed_diff': -1, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Ashtabula', 'date': '2020-04-16', 'fips': 39007, 'lat': '41.70860332', 'long': '-80.74830218', 'confirmed': 45, 'deaths': 3, 'confirmed_diff': 9, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Athens', 'date': '2020-04-16', 'fips': 39009, 'lat': '39.33425634', 'long': '-82.04278644', 'confirmed': 3, 'deaths': 1, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Auglaize', 'date': '2020-04-16', 'fips': 39011, 'lat': '40.55998859', 'long': '-84.22421429999999', 'confirmed': 19, 'deaths': 1, 'confirmed_diff': 1, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Belmont', 'date': '2020-04-16', 'fips': 39013, 'lat': '40.01625942', 'long': '-80.9924051', 'confirmed': 59, 'deaths': 3, 'confirmed_diff': 1, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Brown', 'date': '2020-04-16', 'fips': 39015, 'lat': '38.93416837', 'long': '-83.86788395', 'confirmed': 8, 'deaths': 1, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Butler', 'date': '2020-04-16', 'fips': 39017, 'lat': '39.44012838', 'long': '-84.57388716', 'confirmed': 148, 'deaths': 2, 'confirmed_diff': 15, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Carroll', 'date': '2020-04-16', 'fips': 39019, 'lat': '40.578968599999996', 'long': '-81.09178213', 'confirmed': 14, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Champaign', 'date': '2020-04-16', 'fips': 39021, 'lat': '40.13923427', 'long': '-83.76875242', 'confirmed': 6, 'deaths': 1, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Clark', 'date': '2020-04-16', 'fips': 39023, 'lat': '39.91592258', 'long': '-83.78498252', 'confirmed': 23, 'deaths': 0, 'confirmed_diff': 2, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Clermont', 'date': '2020-04-16', 'fips': 39025, 'lat': '39.04847534', 'long': '-84.15375786', 'confirmed': 60, 'deaths': 1, 'confirmed_diff': 11, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Clinton', 'date': '2020-04-16', 'fips': 39027, 'lat': '39.41485808', 'long': '-83.80852286', 'confirmed': 23, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Columbiana', 'date': '2020-04-16', 'fips': 39029, 'lat': '40.76932373', 'long': '-80.78094576', 'confirmed': 136, 'deaths': 10, 'confirmed_diff': 13, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Coshocton', 'date': '2020-04-16', 'fips': 39031, 'lat': '40.30096166', 'long': '-81.91729018', 'confirmed': 16, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Crawford', 'date': '2020-04-16', 'fips': 39033, 'lat': '40.85065156', 'long': '-82.91989099', 'confirmed': 26, 'deaths': 0, 'confirmed_diff': 3, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Cuyahoga', 'date': '2020-04-16', 'fips': 39035, 'lat': '41.424119', 'long': '-81.65918339', 'confirmed': 1331, 'deaths': 42, 'confirmed_diff': 50, 'deaths_diff': 3, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Darke', 'date': '2020-04-16', 'fips': 39037, 'lat': '40.13412966', 'long': '-84.6194517', 'confirmed': 55, 'deaths': 10, 'confirmed_diff': 3, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Defiance', 'date': '2020-04-16', 'fips': 39039, 'lat': '41.32398837', 'long': '-84.49076944', 'confirmed': 12, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Delaware', 'date': '2020-04-16', 'fips': 39041, 'lat': '40.27942393', 'long': '-83.00457058', 'confirmed': 114, 'deaths': 3, 'confirmed_diff': 6, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Erie', 'date': '2020-04-16', 'fips': 39043, 'lat': '41.36796058', 'long': '-82.62904521', 'confirmed': 19, 'deaths': 1, 'confirmed_diff': 3, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Fairfield', 'date': '2020-04-16', 'fips': 39045, 'lat': '39.75107189', 'long': '-82.63088163', 'confirmed': 96, 'deaths': 2, 'confirmed_diff': 4, 'deaths_diff': 1, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Fayette', 'date': '2020-04-16', 'fips': 39047, 'lat': '39.56021306', 'long': '-83.4562016', 'confirmed': 12, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Franklin', 'date': '2020-04-16', 'fips': 39049, 'lat': '39.96995815', 'long': '-83.01115755', 'confirmed': 1212, 'deaths': 19, 'confirmed_diff': 110, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Fulton', 'date': '2020-04-16', 'fips': 39051, 'lat': '41.60213491', 'long': '-84.12571393', 'confirmed': 10, 'deaths': 0, 'confirmed_diff': 2, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Gallia', 'date': '2020-04-16', 'fips': 39053, 'lat': '38.82708533', 'long': '-82.31647569', 'confirmed': 6, 'deaths': 1, 'confirmed_diff': -2, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Geauga', 'date': '2020-04-16', 'fips': 39055, 'lat': '41.49952319', 'long': '-81.17935342', 'confirmed': 92, 'deaths': 4, 'confirmed_diff': 10, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Greene', 'date': '2020-04-16', 'fips': 39057, 'lat': '39.69116283', 'long': '-83.89032084', 'confirmed': 33, 'deaths': 2, 'confirmed_diff': 2, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Guernsey', 'date': '2020-04-16', 'fips': 39059, 'lat': '40.05026529', 'long': '-81.49248905', 'confirmed': 10, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Hamilton', 'date': '2020-04-16', 'fips': 39061, 'lat': '39.19673558', 'long': '-84.54502924', 'confirmed': 615, 'deaths': 29, 'confirmed_diff': 21, 'deaths_diff': 2, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Hancock', 'date': '2020-04-16', 'fips': 39063, 'lat': '41.00250487', 'long': '-83.66838948', 'confirmed': 25, 'deaths': 1, 'confirmed_diff': 2, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Hardin', 'date': '2020-04-16', 'fips': 39065, 'lat': '40.66015414', 'long': '-83.65929931', 'confirmed': 12, 'deaths': 0, 'confirmed_diff': 1, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Harrison', 'date': '2020-04-16', 'fips': 39067, 'lat': '40.29380509', 'long': '-81.09068544', 'confirmed': 1, 'deaths': 0, 'confirmed_diff': 1, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Henry', 'date': '2020-04-16', 'fips': 39069, 'lat': '41.333964200000004', 'long': '-84.06830637', 'confirmed': 2, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Highland', 'date': '2020-04-16', 'fips': 39071, 'lat': '39.1839264', 'long': '-83.60331456', 'confirmed': 7, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Hocking', 'date': '2020-04-16', 'fips': 39073, 'lat': '39.49537927', 'long': '-82.47991446', 'confirmed': 4, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Holmes', 'date': '2020-04-16', 'fips': 39075, 'lat': '40.56163713', 'long': '-81.92635677', 'confirmed': 3, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Huron', 'date': '2020-04-16', 'fips': 39077, 'lat': '41.14651175', 'long': '-82.59867951', 'confirmed': 16, 'deaths': 1, 'confirmed_diff': 2, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Jackson', 'date': '2020-04-16', 'fips': 39079, 'lat': '39.01914254', 'long': '-82.61818559999998', 'confirmed': 3, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Jefferson', 'date': '2020-04-16', 'fips': 39081, 'lat': '40.38614126', 'long': '-80.76259514', 'confirmed': 24, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Knox', 'date': '2020-04-16', 'fips': 39083, 'lat': '40.39830217', 'long': '-82.42027563', 'confirmed': 11, 'deaths': 1, 'confirmed_diff': 1, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Lake', 'date': '2020-04-16', 'fips': 39085, 'lat': '41.69710807', 'long': '-81.23676539', 'confirmed': 127, 'deaths': 6, 'confirmed_diff': 3, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Lawrence', 'date': '2020-04-16', 'fips': 39087, 'lat': '38.59743452', 'long': '-82.53466552', 'confirmed': 19, 'deaths': 0, 'confirmed_diff': 2, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Licking', 'date': '2020-04-16', 'fips': 39089, 'lat': '40.09136236', 'long': '-82.48185785', 'confirmed': 92, 'deaths': 4, 'confirmed_diff': 4, 'deaths_diff': 1, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Logan', 'date': '2020-04-16', 'fips': 39091, 'lat': '40.38996525', 'long': '-83.76784341', 'confirmed': 8, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Lorain', 'date': '2020-04-16', 'fips': 39093, 'lat': '41.29553751', 'long': '-82.15083537', 'confirmed': 221, 'deaths': 9, 'confirmed_diff': 18, 'deaths_diff': 2, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Lucas', 'date': '2020-04-16', 'fips': 39095, 'lat': '41.62101218', 'long': '-83.65468618', 'confirmed': 644, 'deaths': 28, 'confirmed_diff': 48, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Madison', 'date': '2020-04-16', 'fips': 39097, 'lat': '39.89381073', 'long': '-83.40178317', 'confirmed': 29, 'deaths': 3, 'confirmed_diff': 5, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Mahoning', 'date': '2020-04-16', 'fips': 39099, 'lat': '41.01631101', 'long': '-80.77287029', 'confirmed': 512, 'deaths': 42, 'confirmed_diff': 26, 'deaths_diff': 1, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Marion', 'date': '2020-04-16', 'fips': 39101, 'lat': '40.58610662', 'long': '-83.15736305', 'confirmed': 276, 'deaths': 1, 'confirmed_diff': 112, 'deaths_diff': 1, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Medina', 'date': '2020-04-16', 'fips': 39103, 'lat': '41.11770589', 'long': '-81.89986209999998', 'confirmed': 126, 'deaths': 10, 'confirmed_diff': 4, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Meigs', 'date': '2020-04-16', 'fips': 39105, 'lat': '39.09224872', 'long': '-82.0305041', 'confirmed': 2, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Mercer', 'date': '2020-04-16', 'fips': 39107, 'lat': '40.54043046', 'long': '-84.62912742', 'confirmed': 13, 'deaths': 1, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Miami', 'date': '2020-04-16', 'fips': 39109, 'lat': '40.0543329', 'long': '-84.22871271', 'confirmed': 127, 'deaths': 22, 'confirmed_diff': 2, 'deaths_diff': 1, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Monroe', 'date': '2020-04-16', 'fips': 39111, 'lat': '39.72984936', 'long': '-81.08464734', 'confirmed': 2, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Montgomery', 'date': '2020-04-16', 'fips': 39113, 'lat': '39.75394919', 'long': '-84.29050975', 'confirmed': 213, 'deaths': 8, 'confirmed_diff': 2, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Morgan', 'date': '2020-04-16', 'fips': 39115, 'lat': '39.62081738', 'long': '-81.85308173', 'confirmed': 3, 'deaths': 0, 'confirmed_diff': 1, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Morrow', 'date': '2020-04-16', 'fips': 39117, 'lat': '40.52363560000001', 'long': '-82.7892599', 'confirmed': 14, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Muskingum', 'date': '2020-04-16', 'fips': 39119, 'lat': '39.96575964', 'long': '-81.94363275', 'confirmed': 8, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Noble', 'date': '2020-04-16', 'fips': 39121, 'lat': '39.76818851', 'long': '-81.45937183', 'confirmed': 3, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Ottawa', 'date': '2020-04-16', 'fips': 39123, 'lat': '41.53781826', 'long': '-83.0940185', 'confirmed': 17, 'deaths': 0, 'confirmed_diff': 5, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Paulding', 'date': '2020-04-16', 'fips': 39125, 'lat': '41.11676341', 'long': '-84.5801017', 'confirmed': 5, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Perry', 'date': '2020-04-16', 'fips': 39127, 'lat': '39.73508655', 'long': '-82.23804971', 'confirmed': 8, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Pickaway', 'date': '2020-04-16', 'fips': 39129, 'lat': '39.64170392', 'long': '-83.0243386', 'confirmed': 196, 'deaths': 4, 'confirmed_diff': 24, 'deaths_diff': 4, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Pike', 'date': '2020-04-16', 'fips': 39131, 'lat': '39.07634001', 'long': '-83.06769584', 'confirmed': 1, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Portage', 'date': '2020-04-16', 'fips': 39133, 'lat': '41.16793482', 'long': '-81.19735782', 'confirmed': 162, 'deaths': 24, 'confirmed_diff': 4, 'deaths_diff': 2, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Preble', 'date': '2020-04-16', 'fips': 39135, 'lat': '39.7420247', 'long': '-84.64787018', 'confirmed': 20, 'deaths': 1, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Putnam', 'date': '2020-04-16', 'fips': 39137, 'lat': '41.02094889', 'long': '-84.1336111', 'confirmed': 4, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Richland', 'date': '2020-04-16', 'fips': 39139, 'lat': '40.77180308', 'long': '-82.53799609999999', 'confirmed': 48, 'deaths': 1, 'confirmed_diff': 4, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Ross', 'date': '2020-04-16', 'fips': 39141, 'lat': '39.33705391', 'long': '-83.06000914', 'confirmed': 26, 'deaths': 0, 'confirmed_diff': 5, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Sandusky', 'date': '2020-04-16', 'fips': 39143, 'lat': '41.35624126', 'long': '-83.137872', 'confirmed': 14, 'deaths': 2, 'confirmed_diff': 1, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Scioto', 'date': '2020-04-16', 'fips': 39145, 'lat': '38.80270163', 'long': '-82.98907345', 'confirmed': 5, 'deaths': 0, 'confirmed_diff': 1, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Seneca', 'date': '2020-04-16', 'fips': 39147, 'lat': '41.12351311', 'long': '-83.12783209', 'confirmed': 11, 'deaths': 1, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Shelby', 'date': '2020-04-16', 'fips': 39149, 'lat': '40.33163494', 'long': '-84.20258189', 'confirmed': 28, 'deaths': 0, 'confirmed_diff': 1, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Stark', 'date': '2020-04-16', 'fips': 39151, 'lat': '40.81482476', 'long': '-81.36437305', 'confirmed': 204, 'deaths': 21, 'confirmed_diff': 28, 'deaths_diff': 4, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Summit', 'date': '2020-04-16', 'fips': 39153, 'lat': '41.12464734', 'long': '-81.53123079', 'confirmed': 310, 'deaths': 16, 'confirmed_diff': 16, 'deaths_diff': 1, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Trumbull', 'date': '2020-04-16', 'fips': 39155, 'lat': '41.31735028', 'long': '-80.76109643', 'confirmed': 203, 'deaths': 14, 'confirmed_diff': 4, 'deaths_diff': 1, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Tuscarawas', 'date': '2020-04-16', 'fips': 39157, 'lat': '40.44214695', 'long': '-81.47226262', 'confirmed': 29, 'deaths': 0, 'confirmed_diff': 1, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Unassigned', 'date': '2020-04-16', 'fips': 90039, 'lat': None, 'long': None, 'confirmed': 0, 'deaths': 16, 'confirmed_diff': 0, 'deaths_diff': 16, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Union', 'date': '2020-04-16', 'fips': 39159, 'lat': '40.30016061', 'long': '-83.37239023', 'confirmed': 11, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Van Wert', 'date': '2020-04-16', 'fips': 39161, 'lat': '40.8554138', 'long': '-84.59111700000003', 'confirmed': 2, 'deaths': 0, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Warren', 'date': '2020-04-16', 'fips': 39165, 'lat': '39.42581994', 'long': '-84.16557457', 'confirmed': 89, 'deaths': 4, 'confirmed_diff': 4, 'deaths_diff': 1, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Washington', 'date': '2020-04-16', 'fips': 39167, 'lat': '39.45690571', 'long': '-81.49121382', 'confirmed': 53, 'deaths': 5, 'confirmed_diff': 6, 'deaths_diff': 1, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Wayne', 'date': '2020-04-16', 'fips': 39169, 'lat': '40.82925852', 'long': '-81.88844833', 'confirmed': 66, 'deaths': 11, 'confirmed_diff': 10, 'deaths_diff': 1, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Williams', 'date': '2020-04-16', 'fips': 39171, 'lat': '41.56052014', 'long': '-84.58429552', 'confirmed': 6, 'deaths': 1, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Wood', 'date': '2020-04-16', 'fips': 39173, 'lat': '41.36224827', 'long': '-83.62285108', 'confirmed': 67, 'deaths': 5, 'confirmed_diff': 3, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}, {'name': 'Wyandot', 'date': '2020-04-16', 'fips': 39175, 'lat': '40.84339621', 'long': '-83.30734173', 'confirmed': 14, 'deaths': 2, 'confirmed_diff': 0, 'deaths_diff': 0, 'last_update': '2020-04-16 23:30:51'}]}}]

,date,confirmed,deaths,recovered,confirmed_diff,deaths_diff,recovered_diff,last_update,active,active_diff,fatality_rate,region
0,2020-04-16,8414,407,0,620,45,0,2020-04-16 23:30:51,8007,575,0.0484,"{'iso': 'USA', 'name': 'US', 'province': 'Ohio..."

## Importing Data using Socrata
The Socrata Open Data API allows you to programmatically access a wealth of open data resources from governments, non-profits, and NGOs around the world. 

### Cincinnati Datasets
For example, [here are a bunch of datasets that you can find about the City of Cincinnati](https://www.opendatanetwork.com/entity/1600000US3915000/Cincinnati_OH/demographics.population.count?ref=search-entity&year=2018)

For you to be able to access any of those datasets, you need to register to get an application token.

![Cincinnati Data Portal](./assets/cin.jpg)

<!-- app_token = 'CykQ9zQKgUoasyKaHdVYptQQ3' -->

In [58]:
import pandas as pd
from sodapy import Socrata

# Example authenticated client (needed for non-public datasets):
app_token = 'REDACTED'

# client = Socrata("data.cincinnati-oh.gov", None)
client = Socrata("data.cincinnati-oh.gov",app_token)


# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("rvmt-pkmq", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
print(results_df.columns)

Index(['address_x', 'latitude_x', 'longitude_x',
       'community_council_neighborhood', 'cpd_neighborhood',
       'sna_neighborhood', 'crashdate', 'crashseverity', 'crashseverityid',
       'datecrashreported', 'dayofweek', 'injuries', 'instanceid',
       'lightconditionsprimary', 'localreportno', 'mannerofcrash',
       'roadconditionsprimary', 'roadcontour', 'roadsurface', 'unittype',
       'typeofperson', 'weather', 'zip', 'age', 'gender', 'roadclass',
       'roadclassdesc'],
      dtype='object')

## Importing Data from SQL (Work-in-progress)

![DB Schema](https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg)

In [60]:
from sqlalchemy import create_engine

# engine = create_engine("sqlite:///:memory:")
engine = create_engine("sqlite:///chinook.db")

dbConnection = engine.connect()

In [64]:
df = pd.read_sql("SELECT * FROM genres;", dbConnection)
df

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera

<!-- # ---
# sidebar_position: 2
# title: SQL
# draft: true
# ---
# - [ ] the differences between MSSQL, MySQL, PGSQL.
#   - [ ] how would you choose one over the other?
#   - [ ] Does Python have an ORM that abstracts away that?
# - [ ] That would be a research question for them.

# ## PostgreSQL
# - Partitioned Table
#   - What is a pg partitioned table
# - [ ] I will need to provide some virtual labs for the student such that they can ssh into the server from their computer

# ### Ideas for rubrics
# - What were the sources? are they recent? are they credible?
# - What versions were they comparing

# Adventure works
# https://github.com/chriseaton/docker-adventureworks/blob/master/mssql/build.sh


# Automate grading sql
# https://education.github.community/t/autograding-sql-statements-for-mysql/63451/2
# https://github.com/markpatterson27/Simple-SQL-Exercise

# - https://github.com/devrimgunduz/pagila
# - https://github.com/Jkremr/pagila-queries -->